{% extends 'base.html' %}

{% block title %}
<title>Users</title>
{% endblock %}

{% block body %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Language</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ user.name|title }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.language }}</td>
        <td><a class="btn btn-info" href="{{ url_for('users_by_name', name=user.name) }}">Ver detalle</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}